<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
      tailwind.config = {
        plugins: [require("@tailwindcss/forms")],
        theme: {
          container: {
            center: true,
            padding: {
              DEFAULT: "2rem",
              sm: "5rem",
              lg: "4rem",
              xl: "5rem",
              "2xl": "6rem",
            },
          },
          // 	screens: {
          // 	  'tablet': '640px',
          // 	  // => @media (min-width: 640px) { ... }

          // 	  'laptop': '1524px',
          // 	  // => @media (min-width: 1024px) { ... }

          // 	  'desktop': '1280px',
          // 	  // => @media (min-width: 1280px) { ... }
          // 	},

          fontFamily: {
            sans: ["Graphik", "sans-serif"],
            serif: ["Merriweather", "serif"],
          },
          extend: {
            spacing: {
              "8xl": "96rem",
              "9xl": "128rem",
            },
            borderRadius: {
              "4xl": "2rem",
            },
            extend: {
              transitionDelay: {
                0: "0ms",
                2000: "2000ms",
              },
            },
          },
        },
      };
    </script>
    <style type="text/tailwindcss">
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        body {
          @apply font-sans;
        }
        h1 {
          @apply mt-5 py-5 text-center text-2xl;
        }
        button {
          @apply transition ease-in-out delay-100 duration-300  hover:opacity-80;
        }
      }
      .container {
        margin: auto;
      }
    </style>
  </head>
  <body>
    <div class="relative rounded-xl overflow-auto">
      <div
        class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
      >
        <div class="w-full max-w-md space-y-8">
          <div>
            <img
              class="mx-auto h-12 w-auto"
              src="https://tailwindui.com/img/logos/mark.svg?color=indigo&amp;shade=600"
              alt="Your Company"
            />
            <h2
              class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"
            >
              Update Customer
            </h2>
          
          </div>
          <form  class="mt-8 space-y-6" th:action="@{/admin/customer/update}" th:object="${customer}" action="#" method="post" >
            <div class="-space-y-px rounded-md shadow-sm">
              <div class="pt-3">
                <label th:for="code" class="sr-only" th:text="Code"></label>
                <input
                  type="text"
                  th:field="*{code}"
                  id="code"
                  readonly
                  class="relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                  placeholder="Code"
                />
              </div>

              <div class="pt-3">
                <label th:for="name" class="sr-only" th:text="Name"></label>
                <input
                  id="name"
                  th:field="*{name}"
                  type="text"

                  class="relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                  placeholder="Name"
                />
              </div>
              <div class="pt-3">
                <label for="birthday" class="sr-only">Birthday</label>
                <input
                  id="birthday"
                  type="date"
                  th:field="*{birthDay}"
                  autocomplete="birthday"
                  required=""
                  class="relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                  placeholder="Birthday"
                />
              </div>
              <div class="pt-3">
                <label for="phone" class="sr-only">Phone</label>
                <input
                  id="phone"
                  type="text"
                  th:field="*{phone}"
                  autocomplete="phone"
                  required=""
                  class="relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                  placeholder="Phone"
                />
              </div>
              <div class="pt-3">
                <label for="address" class="sr-only">Address</label>
                <input
                  id="address"
                  type="text"
                  th:field="*{address}"
                  autocomplete="address"
                  required=""
                  class="relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                  placeholder="address"
                />
              </div>

              <div class="pt-3">
                <label for="password" class="sr-only">Password</label>
                <input
                  id="password"
                  th:field="*{password}"
                  type="text"
                  autocomplete="current-password"
                  required=""
                  class="relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                  placeholder="Password"
                />
              </div>
            </div>


            <div>
              <button
                type="submit"
                class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              >
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                </span>
                Update
              </button>
            </div>
            <div>
                <div
                  class="group relative flex w-full justify-center rounded-md border border-transparent bg-slate-800 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                >
                  <a th:href="@{/admin/customer/list}" class="block">Cancel</a>

                </div>
              </div>
          </form>
        </div>
      </div>


    </div>
  </body>
</html>
